.keyword-research {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.keyword-research-con {
    width: 80%;
    max-width: 1200px;
    padding-top: 5rem;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}
.blog-content h2{
    color: rgb(95, 95, 95);
    font-weight: 600;
    font-size: 22px;
}

.keyword-research-con {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
}

.keyword-research-box {
    width: 100%;
    padding-top: 40px;
}
.keyword-research-box h1{
    margin-top: 10px;
    font-size: 40px;
    color: #007BFF;
    font-weight: 600;
}

.keyword-research-box p{
    margin-top: 10px;
    font-size: 16px;
    margin-bottom: 10px;

    text-align: left;
}
.keyword-research-content h1{
    font-size: 30px;
}
.search-container {
    width: 40%;
}

.keyword-research-box img {
    width: 100%;
}
@media (max-width: 768px) {

    .keyword-research-con {
       
        padding-top: 3rem;
        
    }
    
    .keyword-research-con {
        
        flex-direction: column;
        width: 90%;
    }
   
 
    .keyword-research-content p{
        text-align: left;
    }
    .search-container {
        width: 90%;
    
    }
    .keyword-research-box h1{
      
        font-size: 30px;
     
    }
    .blog-content h2{
        font-size: 20px;
    }
   
    .keyword-research-content h1{
        font-size: 20px;
    }
    .keyword-research-box p{
        
        font-size: 14px;
        
    }
}