.values{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
    
}
.values-con{
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.values-con-title{
    line-height: 0;
    font-family: sans-serif;
    margin-bottom: 20px;
}
.values-con-title p{
    color: #00aeff;
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 3rem;
}
.values-con-title h1{
    color: #F0F0F0;
    font-size: 60px;
    margin-top: 3rem;
    
}
.values-con-heading{
    width: 40%;
    text-align: center;
}

.values-con-cards{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.values-con-card{
    width: 35%;
    display: flex;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 20px lightgray;
    padding: 20px;
    border: 1px solid lightgray;
}
.values-con-card img{
    width: 50px;
    height: 50px;
    padding-right: 20px;
}
.card-text h3{
    margin-bottom: 10px;
}
/* .card-text p{
    font-size: 14px;
} */

@media (max-width:768px) {
    .values-con-heading{
        width: 90%;
    }
    .values-con-heading h1{
        font-size: 32px;
        margin-bottom: 2rem;
    }
    .values-con-card{
        width: 100%;
        text-align: left;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center; 
    }
    .values-con-card p{
        font-size: 14px;
    }
    .values-con-title h1{
        
        font-size: 46px;
        
    }
}