.welcome{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 8rem;
    padding-bottom: 2rem;
    background-color: white;
}
.welcome h1{
    color:orange;
}
.welcome-con{
    width: 90%;
    max-width: 1200px;
    
    display: flex;
    flex-direction: column;
    gap: 4rem;
    justify-content: center;
    align-items: center;

}
.welcome-box{
    display: flex;
    justify-content: center;

    align-items: center;
}
.logo2 img{
    width: 20rem;
}
.welcome-sentence{
    width: 100%;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sentence-center{
    width: 70%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
}
.sentence-center p{
    font-weight: 400;
}
.clients-image{
    width: 70%;
    height: 1000px;
    overflow: scroll;
  
    display: flex;
    animation: slider 2s infinite;
    display: flex;
    gap: 100px;
}
.clients-image img{
    margin:0 10px;
}
.client-logo{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-bottom: 1rem;
    flex-direction: column;
    color: black;
    gap: 50px;
}

.logo-slider {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    /* background-color:#265aa2; */
    /* box-shadow: inset 10px 0 10px 0 white; */
}
.client-logo div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-slider img{
    
    width: 10rem;
}
.img-visible{
    background-color: black;
    padding: 10px;
    border-radius: 10px;
}


@media (max-width:768px) {
    .logo2 img{
        width: 10rem;
    }
    .welcome-box{
        flex-direction: column;
    }
    .sentence-center{
        width: 80%;
    }
    .clients-image{
        width: 90%;
    }
    .clients-image img{
        width: 20%;
    }
    .sentence-center{
        width: 90%;
    }
    .logo-slider img{
    
        width: 20vw;
    }
    .img-visible{
        
        border-radius: 5px;
    }
}