.home-about {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.about-title {
    line-height: 0;
    font-family: sans-serif;
    margin-bottom: 20px;
}

.about-title p {
    color: #00aeff;
    font-size: 28px;
    font-weight: 700;
    text-align: center;

}

.about-title h1 {
    color: #F0F0F0;
    font-size: 60px;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.home-about-con {
    width: 90%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.home-about-con img {
    width: 40rem;
    max-width: 1300px;
box-shadow: 8px 8px #00254e;
    border-radius: 30px;
    transition: all 0.1s ease-in-out;
   
}
.home-about-con img:active {
    
box-shadow: 0px 0px #00254e;
transform: translate(3px, 3px);
}

.home-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    gap: 10px;

}

/* .home-content h1{
    font-size:2rem;
} */
.home-content button {
    width: 30%;
    padding: 10px;
    border-radius: 10px;
    border: hidden;
    background-color: #0864ae;
    color: white;
    font-size: 18px;
}
.shadow-about button {
    
    background-color: #007bff;
    color: white;
    padding: 12px 24px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 5px 5px 0 #00254e;
    transition: all 0.1s ease-in-out;
}

.shadow-about button:active {
    box-shadow: 0 0px 0px #0f6fff;
    transform: translateY(3px);
}


@media (max-width:768px) {
    .home-about-con {
        flex-direction: column-reverse;
    }

    .home-content {
        align-items: center;
        text-align: center;
        width: 100%;
    }

    .home-content button {
        width: 100%;
    }

    .about-title h1 {
        color: #F0F0F0;
        font-size: 50px;
    }

    .home-content h1 {
        font-size: 30px;
    }

    .home-about-con img {
        width: 90vw;

    }
}