.home-about{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.about-title{
    line-height: 0;
    font-family: sans-serif;
    margin-bottom: 20px;
}
.about-title p{
    color: #00aeff;
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    
}
.about-title h1{
    color: #F0F0F0;
    font-size: 60px;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.home-about-con{
    width: 90%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.home-about-con img{
    width: 100%;
    max-width: 1300px;
    
    border-radius: 10px;
}
.home-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
    gap: 10px;
    
}
/* .home-content h1{
    font-size:2rem;
} */
.home-content button{
    width: 30%;
    padding: 10px;
    border-radius: 10px;
    border: hidden;
    background-color: #0864ae;
    color: white;
    font-size: 18px;
}

@media (max-width:768px) {
    .home-about-con{
        flex-direction: column-reverse;
    }
    .home-content{
        align-items: center;
        text-align: center;
        width: 100%;
    }
    .home-content button{
        width: 100%;
    }
    .about-title h1{
        color: #F0F0F0;
        font-size: 50px;}
    .home-content h1{
        font-size: 30px;
    }
    .home-about-con img{
        width: 90vw;
        
    }
}