.home-clients {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
    background-color: #F4FBFD;
}

.home-clients-con {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home-clients-con button {
    min-width: 48px;
    min-height: 48px;
    padding: 10px 16px;
    border-radius: 10px;
    border: none; /* Removed hidden, as it's not needed */
    background-color: #0864ae;
    color: white;
    font-size: 18px;
    line-height: 1.5;
    margin: 18px 8px 8px 8px; /* top, right, bottom, left */
    cursor: pointer; /* For better UX */
}

.home-clients-con-p {
    width: 60%;
    text-align: center;
}

.home-clients-title {
    line-height: 0;
    font-family: sans-serif;
    margin-bottom: 20px;
    text-align: center;
}

.home-clients-title p {
    color: #00aeff;
    font-size: 28px;
    font-weight: 700;
    text-align: center;

}

.home-clients-title h1 {
    color: #F0F0F0;
    font-size: 60px;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.home-clients-images {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.home-clients-images img,
.home-clients-images .img {
    width: 130px;
    padding: 20px;
    
}

@media (max-width:768px) {

    .home-clients-title h1 {
        color: #F0F0F0;
        font-size: 50px;
    }

    .home-clients-con {
        width: 100%;

    }

    .home-clients-con-p {
        width: 90%;
    }

    .home-clients-images img {
        width: 80px;
        padding: 10px;
    }

    .home-clients-title p {
        font-size: 28px;
    }
}