/* Style for the scroll button container */
.scroll-to-top {
    position: fixed;
    bottom: 32px;
    right: 32px;
    z-index: 100;
  }
  
  /* Style for the scroll button */
  .scroll-button {
    padding: 12px;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-color: #33a1d4;
    color: white;
    font-size: 24px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .scroll-button:hover {
    background-color: #2a69c2;
  }
  
  .scroll-button img{
    width: 22px;
    
  }