.footer{
    width: 100%;
    background-color:  #f4fbfd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
}
.footer-con{
    width: 90%;
    max-width: 1200px;
   
}
    .footer-box{
        display: grid;
        grid-template-columns:repeat(4,1fr);

    }
    .pages p:hover{
        text-decoration: underline;
    }

    .best-line{
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }
    .best-line img{
        width: 200px;
    }
    .best-line p{
        font-size: 14px;
    }

    .footer-contact, .footer-service, .footer-conct {
        text-align: center;
        
    }
    .footer-contact h2, .footer-service h2, .footer-conct h2{
        margin-bottom: 10px;
    }

    .address{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 18px;
    }

    .icons{
        display: flex;
        gap: 10px;
    }
    .icons img{
        width: 35px;
    }
    .copyright{
        margin-bottom: 15px;
        font-size: 14px;
    }
    .footer-headline{
        width: 90%;
        height: 1px;
        background-color: gray;
        margin-bottom: 10px;
    }

    @media (max-width:768px) {
        .footer-box{
        grid-template-columns: repeat(1,1fr);
        gap: 20px;
    }
    }